body {
  width: 95%;
  margin: auto;
  background: url(./dev.jpg) center;
  font-family: sans-serif;
  line-height: 1.5;
  color: aliceblue;
}

main {
  line-height: 1.5;
  background: #00000054;
  padding: 20px 40px;
  margin-top: 20px;
  border-radius: 10px;
}
